.marks-world {
  fill: #684664;

}

.marks-world .sphere {
  fill: #fbeace
}

.marks-world .interiors {
  fill: none;
  stroke: #00e1ff;
  stroke-width: 0.5px;
}

.marks-world .graticules {
  fill: none;
  stroke: hsla(180, 2%, 9%, 0.525);
  stroke-width: 0.5px;
}


/*hovering the countries and defining color when hovered*/
.marks-world .land:hover {
  fill: #00e1ff;
  ;
}