.iris-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}


.iris-button-style {
  color: bisque;
  border: 3px solid green;

}

.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}
